QuakeStats/bin
QuakeStats/dead
QuakeStats.suo
QuakeStats/obj
QuakeStatsUnitTests/bin
QuakeStatsUnitTests/obj
QuakeStatsUnitTests/dead
QuakeStatsUnitTests/TestResult.xml
QuakeStatsUnitTests/QuakeStatsUnitTests.VisualState.xml